@import "variables.css";

html, body{
    min-height: 100vh;
    background-color: var(--page-background);
    color: var(--main-color);
}

#profile-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#side-nav{
    width: 18rem;
    height: 100vh;
    padding-top: calc(var(--nav-height) + 3rem);
    padding-bottom: .5rem;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--dark-background);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#side-nav a{
    display: block;
    color: var(--main-color);
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--header-font);
    padding-left: 1.5rem;
    transition: .5s ease-out;
}

#side-nav a:hover, 
#side-nav a:focus{
    color: var(--neon-light);
}

#side-nav a.active{
    color: var(--neon-color);
    text-shadow: var(--neon-effect);
}

#display-data{
    width: 75vw;
    margin: 0;
}

#display-data section{
    padding-top: calc(var(--nav-height) + 3rem);
}