body{
    background-color: var(--page-background);
    color: var(--main-color);
}

#upcoming{
    padding-top: calc(var(--nav-height) + 5vh);
}

h1,h2{
    font-family: var(--header-font);
}

#upcoming{
    padding-bottom: 10vh;
}

#upcoming h1{
    text-align: center;
    color: var(--neon-color);
    text-shadow: var(--neon-effect);
    font-size: 2.3rem;
    padding-bottom: .5rem;
}

#upcoming>div{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.upcoming-event{
    width: 40vw;
    height: 20rem;
    display: block;
    position: relative;
    background-color: black;
    overflow: hidden;
    color: var(--main-color);
    cursor: pointer;
    box-shadow: .25rem .25rem 7px var(--dark-background),
                -.25rem -.25rem 7px var(--dark-background);
    border: 1px solid black;
}

.upcoming-event>img{
    position: absolute;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(1) brightness(.75); 
    -webkit-filter: grayscale(100%) brightness(75%); 
    -moz-filter: grayscale(100%) brightness(75%);
    filter: grayscale(100%) brightness(75%);
    transition: .6s ease-out;
}

.upcoming-event h2{
    text-shadow: var(--stroke);
    margin: 0;
    padding-left: 1rem;
    font-size: 2rem;
}

.tags{
    padding-left: 1rem;
}

.event-tag{
    display: inline-block;
    background-color: var(--page-background);
    border-radius: 20px;
    font-family: var(--main-font);
    font-size: 1.1rem;
    padding: .5rem .75rem;
    text-decoration: none;
    color: var(--main-color);
    transition: .5s ease-out;
}

.upcoming-event:hover>img, .upcoming-event:focus>img{
    -webkit-filter: none; 
    -webkit-filter: none; 
    -moz-filter: none;
    filter: none;
    transform: scale(1.2);
}

.upcoming-event>div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.upcoming-event .event-tag{
    margin-left: .25rem;
    margin-right: .25rem;
}

.event-date{
    font-size: 1.2rem;
    padding: 1rem;
    font-family: var(--main-font);
    background-color: var(--neon-light);
    border-right: 2px solid var(--neon-light);
    width: fit-content;
    position: relative;
}

.event-date:before{
    content: "";
    display: block;
    width: 3rem;
    box-sizing: border-box;
    top: 0;
    height: 100%;
    position: absolute;
    left: 100%;
    border: 2rem solid var(--neon-light);
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid transparent;
}

#searchbar{
    width: 100vw;
    background-color: var(--dark-background);
    margin-bottom: calc(2rem + 5vh);
    z-index: 3;
    position: sticky;
    transition: .5s;
}

#searchbar.sticky{
    position: fixed !important;
}

.filter-tag{
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    font-family: var(--main-font);
    font-size: 1.1rem;
    padding: .5rem .75rem;
    text-decoration: none;
    transition: .5s ease-out;
    background-color: var(--page-background);
    color: var(--main-color);
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.filter-tag:hover{
    background-color: var(--main-color);
    color: var(--page-background);
}

#upper-search{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1rem 10vw 1rem 5vw;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0 .5rem 10px black, 0 -.25rem 10px var(--dark-background);
}

#filtri-btn{
    font-size: 1.2rem;
    font-family: var(--main-font);
    color: var(--main-color);
    outline: none;
    width: fit-content;
    background-color: var(--page-background);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: .35rem .55rem;
    margin-right: 3rem;
    cursor: pointer;
    transition: .5s ease-out;
}

#filtri-btn:hover, #filtri-btn:focus, #filtri-btn.active{
    background-color: var(--main-color) !important;
    color: var(--page-background) !important;
}

#search-input{
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: .35rem .65rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

#name-search{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    font-size: 1.2rem;
}

#search-button{
    font-size: 1.2rem;
    color: var(--main-color);
    background-color: var(--page-background);
    outline: none;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: 0;
    right: 0;  
    cursor: pointer;
    transition: .5s ease-out;
}

#search-button:hover, #search-button:focus{
    background-color: var(--main-color);
    color: var(--page-background);
}

input[type="date"]{
    outline: none;
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    font-size: 1.1rem;
    padding: .25rem;
    color-scheme: dark;
    margin-bottom: 1.5rem;
}

#search-button i{
    transform: rotate(90deg);
    transition: .5s ease-out;
}

#search-button:hover i, #search-button:focus i{
    transform: rotate(450deg);
}

#filter-fieldset{
    position: absolute;
    background-color: inherit;
    width: 100vw;
    max-height: 60vh;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: .5rem 1rem 1.5rem 1rem;
    box-shadow: 0 .5rem 10px black;
}

#filter-fieldset>div:first-child{
    margin-bottom: 2.5rem;
    max-height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#filter-fieldset h3{
    font-family: var(--header-font);
    font-size: 1.5rem;
}

#filter-fieldset label{
    font-size: 1.1rem;
    font-family: var(--main-font);
    padding-right: .5rem;
}

#date-fields{
    height: calc(27vh + 6rem);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#filter-choice{
    flex-wrap: wrap;
}

#filters{
    overflow-y: scroll;
    height: inherit;
    width: 60vw;
}

#form-buttons{
    width: fit-content;
    margin-left: 10vw;
    margin-right: auto;
}

input[type=submit], input[type=reset]{
    font-size: 1.2rem;
    font-family: var(--main-font);
    outline: none;
    border-radius: 10px;
    padding: .35rem .55rem;
    margin-right: 3rem;
    cursor: pointer;
    transition: .5s ease-out;
}

input[type=submit], input[type=reset]:hover, input[type=reset]:focus{
    border: 1px solid transparent;
    color: var(--page-background);
    background-color: var(--main-color);
}

input[type=reset]{
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: var(--page-background);
}

input[type=submit]:hover, input[type=submit]:focus{
    box-shadow: 0 0 0px 2px var(--page-background), 0 0 0px 3px white;
}

#all-events{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.small-event{
    background-color: black;
    background: url(../images/tizia123.jpg);
    background-position: center;
    background-size: cover;
    padding-top: calc(15rem/4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25.5vw;
    height: 15rem;
    color: var(--main-color);
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 5rem;
}

.small-event h2{
    text-shadow: var(--stroke);
    font-size: 1.8rem;
    padding-top: 1rem;
    margin: 0;
    margin-left: 1rem;
    transition: .5s ease-out;
}

.small-event div{
    transition: .5s ease-out;
}

.small-event:hover h2, .small-event:hover div,
.small-event:focus h2, .small-event:focus div{
    opacity: .5;
}

@media screen and (max-aspect-ratio: 3/2) {
    #upcoming>div{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 45rem;
    }

    .upcoming-event{
        width: 70vw;
        height: 20rem;
    }

    .small-event{
        width: 45vw;
    }
}

@media only screen and (max-width: 600px){
    #upcoming>div{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 35rem;
    }

    .upcoming-event{
        width: 80vw;
        height: 15rem;
    }

    .upcoming-event>div{
        padding-top: calc(15rem/4);
    }

    .upcoming-event>img{
        -webkit-filter: none; 
        -webkit-filter: none; 
        -moz-filter: none;
        filter: none;
    }

    .event-tag{
        font-size: .9rem;
    }

    #filters{
        width: 50vw;
    }
    
    #upper-search{
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #search-input{
        width: 80vw;
        margin-bottom: 1rem;
    }

    #filtri-btn{
        margin-left: auto;
        margin-right: 0;
    }

    .small-event{
        width: 80vw;
    }
}